# txt文件的读写

### 读取txt文件的数据

In [2]:
file= open("aa.txt")
for line in file:
    print(line)

demo test!

### 写入txt文件
'a'——追加写入（如果里面已经有东西，在末尾写入）
'w'——写入内容会覆盖掉原来的内容

In [13]:
str_var = "hello_str"
f = open('abc.txt','w')
f.write(str_var+'\n')
f.close()

# 其他知识点

### 整行数据的字符串，进行分割，将字符串转换成数字类型

In [1]:
data_str = "2015-02-03,20:59:00,2496,512,2496,2497,73,1644,2.05609e+006";
print(data_str)

2015-02-03,20:59:00,2496,512,2496,2497,73,1644,2.05609e+006

### 根据‘,’进行分割

In [2]:
print(data_str.split(',',2))

['2015-02-03', '20:59:00', '2496,512,2496,2497,73,1644,2.05609e+006']

In [3]:
print(data_str.split(','))

['2015-02-03', '20:59:00', '2496', '512', '2496', '2497', '73', '1644', '2.05609e+006']

In [4]:
s = data_str.split(',')
type(s)

list

In [28]:
print(s)

['2015-02-03', '20:59:00', '2496', '512', '2496', '2497', '73', '1644', '2.05609e+006']

In [30]:
a = s[2]
print(a)

2496

In [31]:
a_num = int(a)

In [32]:
print(a_num)

2496

In [33]:
type(a_num)

int

In [34]:
print("a_num:",a_num)

('a_num:', 2496)

In [35]:
if a_num >2490:
    print("a>2490")
else:
    print("no")

a>2490

In [37]:
b = "123"

### b为字符型数据，不能直接用于比较，要转化为int

In [38]:
if b >2490:
    print("a>2490")
else:
    print("no")

a>2490

In [39]:
print(s[8])
float_num = float(s[8])
print(float_num)

2.05609e+006
2056090.0

## 遍历list的两种方法

In [ ]:
li = ['a','b','c','d','e']
for i in li:
    print i

### range（n）产生一个从0开始的列表，给定的参数n结束，但是不包括参数n

In [41]:
for i in range(len(li)):
    print(li[i])

a
b
c
d
e

## 元组：不可变序列

In [2]:
print(1,2,3)
(1,2,3)

(1, 2, 3)

(1, 2, 3)

### 包括一个值的元组，加个逗号

In [7]:
print 42
print(42,)
print (3*(40+2))
print (3*(40+2,))

42
(42,)
126
(42, 42, 42)