# 列表

In [1]:
list1 = ['physics','chemistry',1997,2000]
list2 = [1,2,3,4,5]
list3 = ["a","b","c","d"]

In [2]:
print(list1)
print(list2)
print(list3)

['physics', 'chemistry', 1997, 2000]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

In [5]:
print(list1[0])
print(list2[2])
print(list3[3])

physics
3
d

In [6]:
print(len(list1))

4

In [9]:
for i in range(len(list1)):
    print(list1[i])

physics
chemistry
1997
2000

In [10]:
mylist = [10,20,30]
mylist.append(1)

In [15]:
print(mylist)
for i in mylist:
    print i

[10, 20, 30, 1]
10
20
30
1

In [14]:
print(list1[0])
list1[0] = 1999
print(list1)

1999
[1999, 'chemistry', 1997, 2000]

In [16]:
del list1[0]
print(list1)

['chemistry', 1997, 2000]

In [44]:
#根据给定的年月日以数字形式打印出日期  
months = [  
       'January', #一月  
       'February', #二月  
       'March', #三月  
       'April', #四月  
       'May', #五月  
       'June', #六月  
       'July', #七月  
       'August', #八月  
       'September', #九月  
       'October', #十月  
       'November', #十一月  
       'December' #十二月  
   ];  
   
#以1~31的数字作为结尾的列表  
endings = ['st', 'nd', 'rd'] + 17 * ['th']  + ['st', 'nd', 'rd'] + 7 * ['th']  + ['st'];  
   
#输入年、月、日  
year = raw_input('Year: ');  
month = raw_input('Month: ');  
day = raw_input('Day(1~31): ');  
   
#计算月、日的索引  
month_number = int(month);  
day_number = int(day);  
   
#将月份和天数减1，以获得争取的索引  
month_name = months[month_number - 1];  
ordinal = day + endings[day_number - 1];  
   
print month_name + ' ' + ordinal + ', ' +year;

Year: 2029
Month: 12
Day(1~31): 21
December 21st, 2029

In [6]:
L = ['Adam','Lisa','Bart']
L.insert(0,L.pop())
L.insert(1,L.pop())
print L

['Bart', 'Lisa', 'Adam']

In [10]:
L = [75, 92, 59, 68]
sum = 0.0
for i in range(len(L)):
    sum = sum + L[i]
print sum / 4

73.5

## 汉诺塔移动

In [55]:
def move(n, a, b, c):
    if n ==1:
        print a, '-->', c
        return
    move(n-1, a, c, b)
    print a, '-->', c
    move(n-1, b, a, c)    

move(2, 'A', 'B', 'C')

A --> B
A --> C
B --> C

In [144]:
d = { 'Adam': 95, 'Lisa': 85, 'Bart': 59 }
tds = ['<tr><td>%s</td><td>%s</td></tr>' % (name, score) for name, score in d.iteritems()]
print '<table>'
print '<tr><th>Name</th><th>Score</th><tr>'
print '\n'.join(tds)
print '</table>'

<table>
<tr><th>Name</th><th>Score</th><tr>
<tr><td>Lisa</td><td>85</td></tr>
<tr><td>Adam</td><td>95</td></tr>
<tr><td>Bart</td><td>59</td></tr>
</table>

In [146]:
def toUppers(L):
    return [x.upper() for x in L if isinstance(x,str) ]

print toUppers(['Hello', 'world', 101])

['HELLO', 'WORLD']

In [148]:
print [100*a+10*b+c for a in range(1,10) for b in range(1,10) for c in range(1,10) if a==c]

[111, 121, 131, 141, 151, 161, 171, 181, 191, 212, 222, 232, 242, 252, 262, 272, 282, 292, 313, 323, 333, 343, 353, 363, 373, 383, 393, 414, 424, 434, 444, 454, 464, 474, 484, 494, 515, 525, 535, 545, 555, 565, 575, 585, 595, 616, 626, 636, 646, 656, 666, 676, 686, 696, 717, 727, 737, 747, 757, 767, 777, 787, 797, 818, 828, 838, 848, 858, 868, 878, 888, 898, 919, 929, 939, 949, 959, 969, 979, 989, 999]

# 字典

In [1]:
box = {'fruits:':['apple','orange'],'money':1993,'name':'obama'}

In [4]:
print box['fruits:']
print box['fruits:'][0]
print box['money']

['apple', 'orange']
apple
1993

In [9]:
print type(box['fruits:'])
print type(box['money'])
print type(box['name'])

<type 'list'>
<type 'int'>
<type 'str'>

In [10]:
box['nation'] = 'USA'
print box

{'money': 1993, 'name': 'obama', 'fruits:': ['apple', 'orange'], 'nation': 'USA'}

In [12]:
box

{'fruits:': ['apple', 'orange'],
 'money': 1993,
 'name': 'obama',
 'nation': 'USA'}

In [13]:
box.keys()

['money', 'name', 'fruits:', 'nation']

In [14]:
box.values()

[1993, 'obama', ['apple', 'orange'], 'USA']

In [15]:
dict1 = {'name':'earth','port':80}
print dict1
del dict1['port']
print dict1

{'name': 'earth', 'port': 80}
{'name': 'earth'}

### 删除dict1中的所有条目，但是dict1定义还是在的

In [16]:
dict1.clear()

In [17]:
print dict

<type 'dict'>

In [19]:
dict1 = {}
print dict1

{}

### 删除整个字典dict1，删除后就无法print

In [20]:
del dict1
print dict1

NameError: name 'dict1' is not defined

#### 1、cmp(dict1, dict2)：比较两个字典元素。
#### 2、len(dict)：计算字典元素个数，即键的总数。
#### 3、str(dict)：输出字典可打印的字符串表示。
### 4、type(variable)：返回输入的变量类型，如果变量是字典就返回字典类型。

#### Python字典包含了以下内置方法：
#### 1、radiansdict.clear()：删除字典内所有元素
#### 2、radiansdict.copy()：返回一个字典的浅复制
#### 3、radiansdict.fromkeys()：创建一个新字典，以序列seq中元素做字典的键，val为字典所有键对应的初始值
#### 4、radiansdict.get(key, default=None)：返回指定键的值，如果值不在字典中返回default值
#### 5、radiansdict.has_key(key)：如果键在字典dict里返回true，否则返回false
#### 6、radiansdict.items()：以列表返回可遍历的(键, 值) 元组数组
#### 7、radiansdict.keys()：以列表返回一个字典所有的键
#### 8、radiansdict.setdefault(key, default=None)：和get()类似, 但如果键不已经存在于字典中，将会添加键并将值设为default
#### 9、radiansdict.update(dict2)：把字典dict2的键/值对更新到dict里
#### 10、radiansdict.values()：以列表返回字典中的所有值

# 列表和字典结合使用

### 列表用[ ]
### 字典用{}

In [21]:
box= {}
list = []

In [22]:
print type(box)
print type(list)

<type 'dict'>
<type 'list'>

In [23]:
box = {'date':'20151202','time':'11:02:59','price':3452}

### 在list中加入一个字典，相当于一个元素

In [34]:
list.append(box)

In [25]:
print list

[{'date': '20151202', 'price': 3452, 'time': '11:02:59'}]

In [26]:
box = {}
box = {'date':'20151202','time':'11:03:59','price':3500}

In [27]:
list.append(box)

In [28]:
print list

[{'date': '20151202', 'price': 3452, 'time': '11:02:59'}, {'date': '20151202', 'price': 3500, 'time': '11:03:59'}]

In [29]:
for key in range(len(list)):
    print list[key]

{'date': '20151202', 'price': 3452, 'time': '11:02:59'}
{'date': '20151202', 'price': 3500, 'time': '11:03:59'}

In [30]:
for key in range(len(list)):
    print list[key]['date']

20151202
20151202

In [31]:
for key in range(len(list)):
    print list[key]['date'],list[key]['price'],list[key]['time']

20151202 3452 11:02:59
20151202 3500 11:03:59

In [32]:
list[1]

{'date': '20151202', 'price': 3500, 'time': '11:03:59'}

In [35]:
for i in list:
    print i

{'date': '20151202', 'price': 3452, 'time': '11:02:59'}
{'date': '20151202', 'price': 3500, 'time': '11:03:59'}
{'date': '20151202', 'price': 3500, 'time': '11:03:59'}

In [36]:
len(list)

3

In [38]:
type(range(len(list)))

list

In [41]:
fourth = raw_input('year:')[3] 
print fourth

year:2016
6

Year: 2016
Month: 3
Day(1~31): 1
March 1st, 2016